
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=cyrillic">
    <title>Title</title>
</head>
<body style="background-color: #fff; font-family: 'Montserrat';">
<div class="reset" style="width: 40%; position: absolute; left: 30%; text-align: center;">
    <div class="brand" style="text-align: center; background-color: #333;">
        <img src="https://pictr.com/images/2018/05/20/33ec14b3fe9dd5377d183acc44e9372d.png" style="width: 200px;">
    </div>
    <div class="message" style="border: 1px solid #333;">
        <h2>Восстановление пароля</h2>
        <h4>Нажмите, чтобы выбрать новый пароль:</h4>
        <button onMouseOver="this.style.backgroundColor='#286090'"
                onMouseOut="this.style.backgroundColor='#337ab7'"
                style="padding: 10px; background-color: #337ab7; border: none; border-radius: 10px; color: #fff; outline: none; cursor: pointer; transition: color 0.5s ease;">
            <a href="{{link}}" style="color: white; text-decoration: none">Восстановить пароль</a>
        </button>
        <p>Если Вы не отправляли запрос на восстановление пароля, проигнорируйте это сообщение.</p>
    </div>
</div>
</body>
</html>